td.point1{
	background:#3399ff;
}
td.point3{
	background:#80ff80;
}

td.point0{
	background:white;
}

div.tabbel{
	background:#90C3D4;
}

td.playedtrue{
	background:grey;
}
.matches{
	
}
.table{
	
}

.comment{
	font-size: 12px;
	
}


.table tbody tr.playedtrue {
  background-color: grey !important;
}
input.playedtrue {
background-color: grey !important;	
}

input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }
input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }