td.point1{
	background:blue;
}
td.point3{
	background:green;
}

td.point0{
	background:white;
}

td.playedtrue{
	background:grey;
}
.matches{
	
}
.table{
	
}


.table tbody tr.playedtrue {
  background-color: grey !important;
}
input.playedtrue {
background-color: grey !important;	
}
