<h1>Välkommen  {{test.currentUser.username}}</h1>


<p>
	<a href="#/login">Logout</a></a>
</p>





<div class ="col-xs-offset-2 col-xs-4 tabbel">
	<h2>Tabell</h2>
	<table class= "table table-condensed">
		<tr>
			<th>Spelare</th>
			<th>Rätt resultat</th>
			<th>Rätt tecken</th>
			<th>Poäng</th>
		</tr>
		<tr ng-repeat="data in table.table | orderBy:'-points'">
			<td>{{data.user}}</td>
			<td>{{data.correct}}</td>
			<td>{{data.sign}}</td>
			<td>{{data.points}}</td>
	</table>
</div>
<br>

<div class = "col-xs-12 bets">
	<h2>Resultat</h2>
	<table class = "table-striped table">
		
		<tr>
			<th>Match</th>
			<th>Resultat</th>
			<th colspan="2" ng-repeat="user in bets[0].users"> {{user.user}}</th>
		</tr>
		<tr ng-repeat="a in bets">
			<td>{{a.HomeTeam}}-{{a.AwayTeam}}</td>
			<td>{{a.result}}</td>
			
			<td ng-repeat-start="user in a.users" class="input-normal point{{user.point}}"> {{user.bet}}</td>
			<td ng-repeat-end="user in a.users" class = "comment"> {{user.comment}}</td>
			<!--div>{{user.bet}} </div> <div>{{user.point}} </div></td-->

	</table>

</div>


<div class = "col-xs-12 table">
	<h2>Mina Bets</h2>
	<table class="table-striped table">
		<th>Speltid</th>
			<th>Låstid</th>
			<th>Lag</th>
			<th>Bet</th>
			<th>Kommentar</th>
			<th></th>
		<tr ng-repeat="a in mybets" class = "played{{a.played}}" ng-hide={{a.played}}>
			<td> {{a.date}}</td>
			<td> {{a.locktime}}</td>
			<td> {{a.HomeTeam}}-{{a.AwayTeam}}</td>
			
			<td>
				
			<input type="text" name = "{{a.MatchId}}" ng-disabled="{{a.played}}"  ng-pattern = "re" placeholder= "x-x" class =  "form-control input-normal played{{a.played}}" ng-model=a.bet id = "resultat">
			
			</td>
			
			<td class="col-md-4">
				<textarea type="text" ng-disabled="{{a.played}}" ng-model=a.comment class = "form-control comment" rows="3" ></textarea>
				
			</td>
			<td>
			<button ng-hide="{{a.played}}" ng-click="placeBet($index)">
				Spara
			</button></td>
			
			

	</table>

</div>




